<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>Document</title>
</head>
<body>
  <form action="/login" method="post">
    아이디 : <input id="username" name="username" type="text"><br>
    비밀번호 : <input id="password" name="password" type="password"><br>
    <button onclick="login()">로그인</button>
  </form>
  <hr>
  <form action="/logout" method="post">
    <button>로그아웃</button>
  </form>
    <script>
      // function login() {
      //   const params = new URLSearchParams();
      //   params.append("username", document.getElementById('username').value);
      //   params.append("password", document.getElementById('password').value);
      //   axios.post('/login', params).then(res=>console.log(res)).catch(res=>console.log(res));
      // }
    </script>
</body>
</html>