<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo6.execise.EmpDao">
    <select id="findJob2" resultType="string">
-- resultType 항상 생략 가능한건 아님
        select distinct job from emp
    </select>

    <!--
      sql을 작성중인 파일은 xml파일이다
      인텔리가 볼때 현재 파일에는 당연히 xml이 들어있다고 판단해 xml처리기가 처리(PCDATA)
      실제로는 xml문서안에 sql이 들어있고, 이 sql은 xml처리기가 처리하면 안된다(CDATA)
    -->
    <select id="findEmpBySalLessThan2" resultType="map">
        <![CDATA[
        select * from emp where sal<=#{sal}
        ]]>
    </select>
    <select id="findEmpByDname" resultType="map">
        <![CDATA[
        select e.* from dept d join emp e on d.deptno=e.deptno where d.dname=#{dname}
        ]]>
    </select>
    <select id="findByEmpno" resultType="map">
        select * from emp where empno=#{empno}
    </select>
</mapper>